
#div{

width: 100vh;
height: 100vh;
};
.one_1{
background-color: black;
};


.one_2{
    background-color: rgb(167, 84, 84);
};


.one_3{
    background-color: rgb(231, 37, 134);
};

.one_2{
    background-color: rgb(34, 221, 75);
};


.one_3{
    background-color: rgb(255, 0, 200);
};